<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h1>Cadastrar Servidor</h1>

    <div class="well">
      <form role="form" ng-submit="vm.register()">
        <div class="form-group">
          <label for="register__nome">Nome</label>
          <input type="text" class="form-control" id="register__nome" ng-model="vm.nome" placeholder="ex. AWS Oregon" />
        </div>

        <div class="form-group">
          <label for="register__host">Host</label>
          <input type="text" class="form-control" id="register__host" ng-model="vm.host" placeholder="ex. Microsoft Azure" />
        </div>

        <div class="form-group">
          <label for="register__cpu">CPU</label>
          <input type="number" class="form-control" id="register__cpu" ng-model="vm.cpu" min="1" max="32" />
        </div>

        <div class="form-group">
          <label for="register__ram">RAM</label>
          <input type="number" class="form-control" id="register__ram" ng-model="vm.ram" min="1" max="64" />
        </div>

        <div class="form-group">
          <label for="register__hd">Disco Rígido</label>
          <input type="number" class="form-control" id="register__hd" ng-model="vm.hd" min="10" max="6000" step="100" />
        </div>

        <div class="form-group">
          <label for="register__preco">Valor</label>
          <input type="number" class="form-control" id="register__preco" ng-model="vm.preco" />
        </div>


        <div class="form-group">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>