{% load staticfiles %}

<!doctype html>
<html lang="en" ng-app="onecloud">
  <head>
    <meta charset="utf-8">
    <title>OneClaudio</title>
    <link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}">
    <script src="{% static 'bower_components/angular/angular.js' %}"></script>
    <script src="{% static 'bower_components/angular-resource/angular-resource.js' %}"></script>
    <script src="{% static 'bower_components/angular-route/angular-route.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/onecloud.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/directives/minhas-diretivas.js' %}"></script>
  </head>
  <body>
    
    <div class="container" ng-controller="ServidorController">
      <div class="jumbotron" id="main-jumbo">
        <h1>OneClaudio</h1>
        <h3>O seu portal de Cloud Server</h3>
      </div>
      {% block content %}
      <div class="row">
        <div class="col-md-8">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Busca de servidores</h3>
            </div>
          </div>
        </div>
      </div> <!-- fim row -->

      <div class="row">
        <div class="col-md-10">
          <form>
              <input ng-model="filtro" class="form-control" id="filtro" placeholder="Filtrar">
          </form>
        </div>
        <div class="col-md-2">
          <form>
            <label><input type="radio" id="filtrobtns" name="btnFiltro" ng-model="ordenacao" ng-value="nome" selected="true">Ordenar por nome</label>
            <label><input type="radio" id="filtrobtns" name="btnFiltro" ng-model="ordenacao" ng-value="preco">Ordenar por preço</label>
          </form>
        </div>
      </div> <!-- fim row -->

      {% verbatim %}
        <server ng-repeat="server in servidores | filter: filtro | orderBy : preco : false" nome="{{server.nome}}" host="{{server.host}}" cpu="{{server.cpu}}" ram="{{server.ram}}" hd="{{server.hd}}" preco="{{server.preco}}">
        </server>
      {% endverbatim %}
      {% endblock %}
    </div> <!-- end container -->
  </body>
</html>