{% load staticfiles %}

<!doctype html>
<html lang="pt-br" ng-app="servidorApp">
  <head>
    <meta charset="utf-8">
    <title>MasterCloud</title>
    <link rel="stylesheet" href="{% static "bower_components/bootstrap/dist/css/bootstrap.css" %}">
    <link rel="stylesheet" href="css/app.css">
    <script src="{% static "bower_components/angular/angular.js" %}"></script>
    <script src="{% static "bower_components/angular-resource/angular-resource.js" %}"></script>
    <script src="{% static "js/app.js" %}"></script>
    <script src="{% static "js/controllers/servidor-controller.js" %}"></script>
  </head>
  <body ng-controller="{% block ng_controller %} ServidorController {% endblock %}">
    <div class="container">
      {% block content %}
      <div class="row">
        <div class="col-md-12">
          <form>
            <input ng-model="filtro" class="form-control" placeholder="Filtrar">
          </form>
        </div>
      </div>
      {% verbatim %}
      <ul>
        <li ng-repeat="servidor in servidores | filter: filtro">
          <span>{{servidor.nome}}</span>
          <p>{{servidor.host}}</p>
          <p>{{servidor.preco}}</p>
        </li>
      </ul>
      {% endverbatim %}
      {% endblock %}
    </div> <!-- end container -->
  </body>
</html>